

body {

    background-color: #937A23; 
}

h1 {
    background-color: black;
    color: white;
    display: inline;
    margin: 20px;
    padding: 10px;
}

p {
    font-size: 150%;
}

#texte_barre_recherche{
    size: 10;
}
#bouton-barre-recherche{
    size: 10;
}

