h2 {
	text-align:center;
}

input[type=text], [type=password]{
	border-radius: 5px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 2px;
}

input[type=text]:focus, [type=password]:focus  {
	background-color: lightblue;
	outline: none;
}
