* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: white; 
}

.bandeau {
    width: 125px;
    height: 100%;
    background-color: black;
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
    background-color: #937A23; 
    margin-left: 20px; 
}

.rating-container {
    text-align: center;
    font-family: sans-serif;
}


table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}
