

body {

    background-color: #937A23; 
}

h1 {
    background-color: black;
    color: white;
    display: inline;
    margin: 20px;
    padding: 10px;
}

p {
    font-size: 150%;
}

#texte_barre_recherche{
    size: 10;
}
#bouton-barre-recherche{
    size: 10;
}
/*Background:#4E4B5C Primary:#a597d9 Secondary:#82305 accent: #c15659 text: #e0dbf2 
Heading font: Stint Ultra Expanded  Type scale: Perfect Fourth*/
