#ex4-1 {font-size: 250%;}
#ex4-2 {font-size: 225%;}
#ex4-3 {font-size: 200%;}
#ex4-4 {font-size: 175%;}
#ex4-5 {font-size: 150%;}
#ex4-6 {font-size: 125%;}
#ex4-7 {font-size: 100%;}

#ex5-1 {
    color: lightblue;
    font-size: 300%;
}
#ex5-2 {
    color: blue;
    font-size: 300%;
}
#ex5-3 {
    color: darkblue;
    font-size: 300%;
}

#ex6-1 {font-family: Arial, Helvetica, sans-serif;}
#ex6-2 {font-family: 'Times New Roman', Times, serif;}
#ex6-3 {font-family: sans-serif;}
#ex6-4 {font-family: 'Courier New', Courier, monospace;}

#ex7-1 {text-align: left;}
#ex7-2 {text-align: center;}
#ex7-3 {text-align: right;}

#ex9 {padding: 20px;}

#ex11-1 {text-align: center;}
#ex11-2 {text-align: right;}

#ex12 {
    width: 50%; 
    background-color: lightgreen;
    border-collapse: collapse;
}

#ex13 {
    width: 25%;
    border-collapse: collapse;
}
#ex13 td {
    border: 2px solid black; 
}
#ex13 th {
    border-bottom: 2px solid black; 
}
#ex13 tr th:first-child {
    border-top: 0;
    border-right: 2px solid black;
}
#ex13 tr:first-child td {
    border-top: 0;
}
#ex13 tr td:first-child {
    border-left: 0;
}
#ex13 #ex13-1 #ex13-1-1 {
    border-top: 0;
    border-bottom: 0;
}
#ex13 #ex13-1 #ex13-1-2 {
    border: 0;
    text-align: right;
}
#ex13 tr:last-child td {
    border-bottom: 0;
    text-align: center;
}
#ex13 tr td:last-child {
    border-right: 0;
}

#ex14 {
    width: 25%;
    border-collapse: collapse;
}
#ex14 td {
    border-left: 20px solid white;
    border-right: 20px solid white; 
    background-color: aqua;
    vertical-align: text-top;
    white-space:pre

}
#ex14 th {
    border-left: 20px solid white;
    border-right: 20px solid white; 
    border-bottom: 5px solid white;
    background-color: blue; 
    white-space:pre
}