
/*Global*/

div.bandeau{
	position:fixed;
	width:100%;
	height: 50px;
	background-color:#71BFD5;
	color:#030b0c;


}
div.bandeau > div {
  display: inline-block;
  height: 100%;
  vertical-align: middle; 
}/*important pour que le logo reste sur la même ligne que les autres div*/

div.logo_restaurant{
	display:inline-block;
	width: 10%;
	height: 100%;
}

img.logo{
	width:100%;
	height: 100%;
	object-fit: fill;
}

div.bandeau_nom{
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align:center;
	background-color: lightyellow;
}

div.bandeau_moncompte{
	display:inline-block;
	width: 20%;
	height: 100%;
	background-color:lightgreen;
}

div.bandeau_avis{
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color:red;
	text-align:center;
}

div.bandeau_accueil{
	display:inline-block;
	width: 20%;
	height: 100%;
	background-color:lightgrey;
	text-align:center;
}

a.link_bandeau:link{
	color:#65a1af;
}

a.link_bandeau:hover{
	color:#b2a5d0;
}

a.link_bandeau:visited{
	color:#a97cbb;
}





/*Accueil*/

div.remplissage{
	height: 50px;
	width:100%
}

#texte_barre_recherche{
    size: 10;
}

#bouton-barre-recherche{
    size: 10;
}

/* Connexion*/
input[type=text], [type=password], [type=number], [type=textarea]{
	border-radius: 5px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 2px;
}

input[type=text]:focus, [type=password]:focus, [type=number]:focus, [type=textarea]:focus{
	background-color: lightblue;
	outline: none;
}


.formulaire_connexion {
	height: 60%;
	border: 2px solid ;
	border-radius: 5px;
	background-color: #148b84;
	padding:30px;
}



/*suite*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    flex-grow: 1; 
    margin-left: 20px; 
}

.rating-container {
    text-align: center; 
    font-family: sans-serif;
}

.form-container {
    width: 100%;
    text-align: center; 
    margin-top: 30px;   
}

.star-rating {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: center;
    font-size: 3em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
    color: #000; 
}

.star-rating label:hover {
    transform: scale(1.1);
}


table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

.btn-submit {
    padding: 15px 40px;     
    font-size: 1.2rem;       
    font-weight: bold;
    text-transform: uppercase;
    
    /* Apparence */
    background-color: black; 
    color: #C7A11A;          
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    
    /* Centrage */
    display: inline-block; 
}

.btn-submit:hover {
    background-color: transparent;
    color: black;
}
/**/
table, th, tr, td {
	border: 1px solid black;
}

.modification{
	height: 100px;
	width: 100px;
}
