* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: white; 
}

.bandeau {
    width: 125px;
    height: 100%;
    background-color: black;
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
    background-color: #937A23; 
    margin-left: 20px; /* ici ca permet de changer la taille du blanc */
}

.rating-container {
    text-align: center;
    font-family: sans-serif;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: center;
    font-size: 3em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
    color: #000; 
}

.star-rating label:hover {
    transform: scale(1.1);
}



.form-container {
    width: 100%;
    text-align: center; 
    margin-top: 30px;   
}

.btn-submit {
    padding: 15px 40px;     
    font-size: 1.2rem;       
    font-weight: bold;
    text-transform: uppercase;
    
    /* Apparence */
    background-color: black; 
    color: #C7A11A;          
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    
    /* Centrage */
    display: inline-block; 
}

.btn-submit:hover {
    background-color: transparent;
    color: black;
}
