
button > img{
	width: 20px;
	height: 20px;
}



table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

/*Livraison*/

div.tableau_livraison{
	margin: 0 auto;
	width : 100%;
	height : 200px
}
